.venv/
__pycache__/
*.py[cod]

build/
dist/
*.spec

*.pfx
*.p12
*.pem
*.key
.env
.env.*

xmls/*
!xmls/.gitkeep

relatorios/*
!relatorios/.gitkeep

instalador/output/

.vscode/
.idea/
Thumbs.db
.DS_Store

*.pfx
*.p12
*.pem
*.key
*.crt
*.cer
*.db
*.sqlite
*.sqlite3